<div class="welcome">
  <div class="welcome__card">
    <img src="/icon-user.svg" alt="" class="welcome__icon" width="90" height="90" aria-hidden="true" />

    <a routerLink="/ingresar" class="btn btn--primary">
      <span class="btn__icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
          <path d="M12 4a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2h-6v6a1 1 0 1 1-2 0v-6H5a1 1 0 1 1 0-2h6V5a1 1 0 0 1 1-1Z"/>
        </svg>
      </span>
      Ingresar
    </a>

    <a routerLink="/registrar" class="btn btn--outline">
      Registrarse
    </a>
  </div>
</div>
